@model IEnumerable<College.Areas.Identity.Data.SuggestionsModel>

@{
    ViewData["Title"] = "ActingOnIt";
}

<h1>ActingOnIt</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuggestionMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestionMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a class ="btn btn-primary" asp-action="Details" asp-route-id="@item.SuggestionId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
