@model IEnumerable<College.Areas.Identity.Data.ClubsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>List of clubs</h1>

<p>
    <a class="btn btn-outline-secondary" asp-action="Create">Add a Club</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div style="width:20rem;margin:30px 30px" class="card col-md-4">
            <img style="width:100px" src="@item.ClubImageURL" class="card-img-top rounded-top" alt="club profile picture">
            <div class="card-body">
                <h5 class="card-title">@item.ClubName</h5>

        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.ClubId">Edit</a>
            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ClubId">Details</a>
            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ClubId">Delete</a>

            </div>
        </div>
    }
</div>



               