@model IEnumerable<College.Areas.Identity.Data.MyEventsViewModel>

@{
    ViewData["Title"] = "MyEvents";
}

<h1>MyEvents</h1>
<a class="btn btn-primary" asp-action="Index">All Events</a>

<div class="row">
@foreach (var item in Model) {
    <div class="col-md-4"> 
<div class="card" style="width: 18rem; margin:30px 30px">
    <div class="card-body">
        <h5 class="card-title">@item.event_name</h5>
            <p class="card-subtitle">@item.event_type</p>
           <p class="card-text">@item.event_venue</p>
                    <p class="card-text">@item.event_date</p>

            <a asp-action="Details" asp-controller="EventsModels" asp-route-id="@item.event_id" class="btn btn-primary">Details</a>

       </div>
    </div>
</div>
}
</div>

