@model IEnumerable<College.Areas.Identity.Data.EventsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>All Events</h1>

<p>
    <a class = "btn btn-outline-primary" asp-action="Create">Add Event</a>
</p>
<a class="btn btn-outline-success" asp-action="Index" asp-controller="AdminJoinedEventsModels">View Applicants</a>
<a href="#" class="btn btn-default">
    <i style="color:red"class="glyphicon glyphicon-bell"></i>
    <span style="background-color:black;color:green" class="badge">@ViewBag.NotificationCount</span>
</a>


<div class="row">
    @foreach (var item in Model)
    {
        <div style="width:20rem;margin:30px 30px" class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">@item.EventName</h5>
                <p class="card-title">Event Type: @item.EventType</p>
                <p class="card-title">Event Type: @item.venue</p>
                <a class="btn  btn-primary" style="font-size: 14px;" asp-action="Edit" asp-route-id="@item.EventId">Edit</a>
                <a class="btn  btn-info" style="font-size: 14px;" asp-action="Details" asp-route-id="@item.EventId">Details</a>
                <a class="btn  btn-danger" style="font-size: 14px;" asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
            </div>
            

        </div>
    }
</div>






