@model IEnumerable<College.Areas.Identity.Data.MyEventsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Approve For Events</h1>

<div class="row">   
@foreach(var item in Model)
{
    <div class="card col-md-4" style="width: 18rem;margin:20px 20px">
        <div class="card-body">
            <h5 class="card-title">@item.student_name</h5>
            <p class="card-text">@item.event_name</p>
                <p class="card-text">@item.event_date</p>
            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.event_id" asp-controller="AdminEventsModels">View Event</a>
                <a class="btn btn-primary" asp-action="Details" asp-controller="StudentsModels" asp-route-id="@item.reg_no"> View Student</a>
        </div>
        <form asp-action="Index">
            <div class="card-footer"> 
                <input name="id" value="@item.joined_events_id" hidden />
                <button class="btn btn-outline-success" type="submit">Approve</button>
                <a class="btn btn-outline-danger" asp-action="Disapprove" asp-route-id="@item.joined_events_id">Disapprove</a>

            </div>
            </form>
    </div>
}
</div>