@model IEnumerable<College.Areas.Identity.Data.StudentsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>My Card</h1>

    @foreach (var item in Model) {
         <div class="card text-center" style="width: 700px;">
          <img class="card-img-top mx-auto" src="@item.ImageURL" alt="Your profile pic" style="width: 240px;">
          <div class="card-body">

              <table>
                  <tr>
                      <td>
                          <h5 class="card-title">Name</h5>
                      </td>
                      <td>
                          <h5 class="card-text">@item.Name</h5>
                      </td>
                  </tr>

                  <tr>
                      <td>
                          <h5 class="card-title">School Name</h5>
                      </td>
                      <td>
                          <h5 class="card-text">@item.SchoolName</h5>
                      </td>
                  </tr>

                  <tr>
                      <td>
                          <h5 class="card-title">12th %</h5>
                      </td>
                      <td>
                          <h5 class="card-text">@item.Percentage12th</h5>
                      </td>
                  </tr>

                  <tr>
                      <td>
                          <h5 class="card-title">10th %</h5>
                      </td>
                      <td>
                          <h5 class="card-text">@item.Percentage10th</h5>
                      </td>
                  </tr>

                  <tr>
                      <td>
                          <h5 class="card-title">City</h5>
                      </td>
                      <td>
                          <h5 class="card-text">@item.City</h5>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <h5 class="card-title">Fee status</h5>
                      </td>
                      <td>
                          <h5 class="card-text">@item.isFeePaid</h5>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <h5 class="card-title">Year of Study</h5>
                      </td>
                      <td>
                          <h5 class="card-text">@item.YearOfStudy</h5>
                      </td>
                  </tr>
                      <tr>
                      <td>
                          <h5 class="card-title">Department</h5>
                      </td>
                      <td>
@*                          <h5> @Html.DisplayFor(modelItem => item.department_id.DeptName)</h5>
*@                          <h5 class="card-text">@item.department_id.DeptName</h5>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <h5 class="card-title">Attendance</h5>
                      </td>
                      <td>
                          <h5 class="card-text">@item.Attendance Days of 73</h5>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <h5 class="card-title">CGPA</h5>
                      </td>
                      <td>
                          <h5 class="card-text">@item.CGPA CGPA</h5>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <h5 class="card-title">Attendance</h5>
                      </td>
                      <td>
                          <h5 class="card-text">@item.Attendance Days of 73</h5>
                      </td>
                  </tr>
                  <tr>
                      <td>
                              <h5 class="card-title">Email</h5>
                      </td>
                      <td>
                          <h5 class="card-text">@item.Email</h5>
                      </td>
                  </tr>
              </table>
          </div>
        </div>
    }

<style>
  td{
    padding: 10px 90px;
  }
</style>